.about-section {
    padding: 4rem 2rem;
    background-color: #f0f4f8;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    margin-top: auto;
    position: relative;
    display: inline-block;
  }
  

  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #6e6e6e;
    transition: transform 0.3s;
  }
  
  .about-image img:hover {
    transform: scale(1.05);
  }
  
  .about-text {
    max-width: 600px;
    text-align: left;
  }
  
  .about-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #333;
  }
  
  .about-text h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #000000;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  
  .skills span {
    background-color: #35538b;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .skills span:hover {
    background-color: #c13b1f;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      text-align: center;
    }
  
    .about-text {
      text-align: center;
    }
  }